* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #e0c3fc, #8ec5fc);  
}

main {
    display: flex;
    justify-content: center;
    margin: 100px 0; 
    /* //de acordo com o tamanho da tela */
}

/* p {
    margin: 20px 10px;
} */

.container {
    width: 300px;
    /* height: 150px; */
}

.list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list__title {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.title__task {
   font-weight: bolder;

}


.input__text {
    width:  300px;
    height: 75px;
    padding: 20px;
    border-style: none;
    word-break: break-all;

}

/* BUTTONS */

.btn__add {
    background-color: #ba7af8;
    color: #fff;

    border: #ba7af8;
    padding: 7.5px 134.25px;

    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans';
    letter-spacing: 1px;    
}

.btn-all {
    background-color: #e0c3fc;
    color: #fff;
    border: #8ec5fc;
    padding: 7.5px 27.75px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans';
    letter-spacing: 1.95px;

}


.tasklist {
    background-color: #fff;
    text-align: left;
    width: 300px;
    /* height: 125px; */
}

.tasklist__div {
    background-color: #fff;
    width: 300px;
    height: 50px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    word-break: break-all;
    
}


.btn__delete {
    border: none;
    background-color: #fff;
    height: 20px;
    cursor: pointer;
    /* position: relative;
    left: 280px;
    bottom: 40px; */
}

.div__task {
    display: flex; 
    justify-content: flex-end; 
    cursor: pointer;
}


.list__btn2 {
    background-color: #fff;
    width: 300px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    border-top: 1px solid #fff; 
}
